* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 40px;
}

#navbarNavAltMarkup {
  & a {
    text-align: center;
  }
}

.portada {
  width: 100%;
}

.seccion-portada {
  padding: 0;
}

#productos {
  & img {
    height: 170px;
    object-fit: contain;
  }
}

footer {
  background-color: rgb(41, 41, 41);

  & p {
    margin: 0;
    padding: 20px;
    color: white;
  }
}
