* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 40px;
}

#navbarNavAltMarkup {
  & a {
    text-align: center;
  }
}


.portada {
  width: 100%;
  margin-top: 66px;
}

.seccion-portada {
  padding: 0;
}

#productos {
  & img {
    height: 170px;
    object-fit: contain;
  }
}

footer {
  background-color: rgb(41, 41, 41);

  & p {
    margin: 0;
    padding: 20px;
    color: white;
  }
}

#productos {
  & button {
    font-size: 13px;
    background-color: rgb(255, 174, 255);
    border: 1px solid;
  }
  & button:hover {
  background-color: #eb8deb;
  color: rgb(255, 255, 255);
  border: 5px;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
}

.card {
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




